.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30% 200px auto;
  grid-gap: 1em;

  &-title {
    grid-column: 1 / 4;
    text-align: center;
  }

  &-body {
    min-width: 24em;
    grid-column: 2;
  }

}