.setupItem {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 4em auto;

  // width: 190px;
  // height: 254px;
  
  // border-radius: 36px;
  // background: #282c34;
  // box-shadow:  20px 20px 40px #1f2229,
  //            -20px -20px 40px #31363f;

  &-image {
    columns: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    max-height: 8rem;
    max-width: 8rem;
  }

  #gearImage {
    max-height: 8rem;
    max-width: 8rem;
  }

  &-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  &-title {
    font-weight: bold;
    font-size: 24px;
  }

  &-body {
    min-height: 100px;
  }
}